@model ViewAlbumImagesModel

@{
    ViewData["Title"] = "Album";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="fh5co-narrow-content fh5co-border-bottom">


    <h2 class="fh5co-heading">@Model.Album.Name</h2>
    <p>
    <p>@Model.Album.Description</p>

    

    <div class="fh5co-gallery">

        @foreach (Image i in Model.Images)
        {
            <div class="gallery-item">

                <a asp-action="ViewSingle" asp-controller="ViewProfile" asp-route-imageId="@i.ImageId">
                    <img src="/Uploads/@i.Path">
                </a>

                @if (Model.IsOwner)
                {
                    <a asp-action="RemovePhotoFromAlbum" asp-controller="ViewProfile" asp-route-albumId="@Model.Album.AlbumId" asp-route-imageId="@i.ImageId">
                        <h5 align="center">Remove from album</h5>
                    </a>

                    <div class="fh5co-border-bottom">
                        @i.Likes.Count likes ,
                        @i.Comments.Count comments
                    </div>
                }
                else
                {
                    if(!i.Likes.Any(l => l.UserId.Equals(Model.CurrentUserId)))
                     {
                         <a asp-action="Like" asp-controller="ViewProfile" asp-route-albumId="@Model.Album.AlbumId" asp-route-imageId="@i.ImageId">
                             <h5 align="left" >Like</h5>
                         </a>
                    }
                    else
                    {
                        <a asp-action="Dislike" asp-controller="ViewProfile" asp-route-albumId="@Model.Album.AlbumId" asp-route-imageId="@i.ImageId">
                            <h5 align="left">Dislike</h5>
                        </a>
                    }


                    <div class="fh5co-border-bottom">
                        @i.Likes.Count likes ,
                        @i.Comments.Count comments
                    </div>
                }

            </div>
        }
    </div>

    <a asp-action="AddToFavorites" asp-controller="ViewProfile" asp-route-albumId="@Model.Album.AlbumId">
        <h3 align="right">Add to favorites</h3>
    </a>


    <h2 class="fh5co-heading">Comments</h2>
    <div class="fh5co-feature  fh5co-border-bottom">

        @foreach (Comment i in Model.Album.Comments)
        {
            <b> @i.UserName </b>
            @i.Content
            <br />

        }
    </div>

    <br />
    Add a comment...
    <form asp-action="AddCommentToAlbum" asp-controller="ViewProfile" method="post" enctype="multipart/form-data" asp-route-albumId=@Model.Album.AlbumId>
        <div class="form-group col-md-3">
            <input type="text" name="Comment" />
            <br />
            <br />
        </div>

        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-success">Add </button>
        </div>
    </form>




    @if (Model.IsOwner)
    {

        <div class="fh5co-feature">
            <h3> Add more images</h3>

            <form asp-action="AddImages" asp-controller="ViewProfile" method="post" enctype="multipart/form-data" asp-route-albumId=@Model.Album.AlbumId>
                <div class="form-group">
                    <input type="file" name="Photos" id="file" multiple />
                    <br />
                    <br />
                </div>
                <div id="dvPreview"> </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save album</button>
                </div>
            </form>
        </div>

    }


</div>


<script language="javascript" type="text/javascript">
    window.onload = function () {
        var fileUpload = document.getElementById("file");
        fileUpload.onchange = function () {
            if (typeof (FileReader) != "undefined") {
                var dvPreview = document.getElementById("dvPreview");
                dvPreview.innerHTML = "";
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                for (var i = 0; i < fileUpload.files.length; i++) {
                    var file = fileUpload.files[i];
                    if (regex.test(file.name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var img = document.createElement("IMG");
                            img.height = "100";
                            img.width = "100";
                            img.src = e.target.result;
                            dvPreview.appendChild(img);
                        }
                        reader.readAsDataURL(file);
                    } else {
                        alert(file.name + " is not a valid image file.");
                        dvPreview.innerHTML = "";
                        return false;
                    }
                }
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        }
    };
</script>