@model List<Album>
@{
    ViewData["Title"] = "AdminPanel";
}

<h2 class="fh5co-heading">Admin Panel</h2>

<div class="fh5co-gallery">
    @if (!(Model == null))
    {
        foreach (Album a in Model)
        {
            <div class="gallery-item">
                <a asp-controller="ViewProfile" asp-action="ViewAlbumImages" asp-route-albumId="@a.AlbumId">
                    <img src="/Uploads/@a.Images[1].Path" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    <span class="overlay">
                        <h2>@a.Name</h2>
                        <span>@a.Images.Count images</span>
                        <span>@a.Likes.Count likes</span>
                    </span>
             
                </a>
                
                <a asp-action="AddToFeatured" asp-controller="Home" asp-route-albumId="@a.AlbumId" >
                    <h4 align="center">Add to featured</h4>
                </a>
            </div>
        }
    }

</div>
